/*Base clases*/
.container{
	max-width: 1170px;
	width: 100%;
	margin:0 auto;
}
.flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/*Header*/
.header{
	padding:10px 0 10px 0;
}
.logo{
	width: 100%;
}
.navigation-li{
	margin-right: 30px;
}
.navigation-ul{
	display: flex;
}
.navigation-a{
	color: #0f0f0f;
	font-size: 16px;
	font-family: 'Roboto Regular', sans-serif;
}
/*Banner*/
.banner{
	width: 100%;
}
.banner-section{
	position: relative;
}
.text-image{
	position: absolute;
	left:80px;
	bottom:0;
}
.text-on-image1{
	font-size:100px;
	color:#fff;
}
.text-on-image2{
	font-size: 70px;
	color:#000000;
}
/*Form-after-banner*/
.form-bg{
	background: #1c1c1c;
	margin-top:30px;
}
.form{
  padding:20px;
}
.input{
	padding:10px;
}
.button{
	background: #4e26fd;
	color:#fff;
	font-size: 20px;
	padding:5px;
	width:160px;
	cursor: pointer;
}
/*Section-about-us*/
.section-hotel-title{
	text-align: center;
	font-size:50px;
    color: #000000;
    margin-top:80px;
}
.title-after-image{
   font-size:16px;
   color: #232323;
   font-weight: bold;
   text-align: center;
}
.text-after-image{
   font-size:16px;
   color:#010101;
   text-align: center;
}
.hotel-img{
	width:100%;
}
.hotel{
	margin-right:30px;
}
.hotels{
	margin-top:30px;
}
.read-more{
	text-align: center;
	margin-top: 30px;
}
.more{
  border: 1px solid #4e26fd;
  color: #4e26fd;
  padding: 5px 50px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
}